<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Please sign up with your information and how you're active in the Entrepreneurship Lab so that other members may contact you and collaborate with you!
</p>